* {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    
}

body{
   background: rgb(0, 20, 63);
}
.container {
  width: 100%;
  display: flex;
  gap: 50px;
  max-width: 1150px;
  align-items: center;
  border: 3px solid #ffffff;
}

.left-history {
  font-size: 20px;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 50px;

  
}

.left-history h1 {
  
  font-size: 80px;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-left: 5px;
  color: #ffffff;

}

.underline {
  border-bottom: 5px solid rgb(255, 255, 255);
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #ffffff;
}

.left-history h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  
  line-height: 1.3;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 5px;
  color: #ffffff;

}

.right-history {
  flex: 2;
  
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  text-align: justify;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;

  
}

.right-history p {
  margin-bottom: 15px;
  color: #ffffff;


}

.BOX {


  width: 100%;
  max-width: 1100px;
  padding: 100px;
  box-sizing:content-box;
  border-radius: 10px;
  margin-left: 190px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  
  
  

}

.BOX-award {
 
  width: 100%;
  max-width: 1080px;
  padding: 100px;
  box-sizing:content-box;
 
  
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: 3px solid #ffffff;

}


.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
  
}


.left-image img {
  margin-top: 110px;
  width: 100%;
  height: auto;
  border: 5px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.right-award h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
   padding-right: 10px;
  padding-top: 80px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
 

}

.underline {
  border-bottom: 5px solid rgb(255, 255, 255);
  display: inline-block;
  padding-bottom: 5px;
  color: #ffffff;

}

.right-award h3 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.3;
  padding-right: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
   
  color: #ffffff;

  
}

.right-award p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  margin-top: 10px;
  text-align: justify;
  margin-right: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;

}


.BOX-mission {
 
  width: 100%;
  max-width: 1080px;
  padding: 100px;
  box-sizing:content-box;
  
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: 3px solid #ffffff;
  color: #ffffff;

}

.left-mission h1 {
  padding-top: 60px;
  font-size: 80px;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 30px;
  text-align: center;
  color: #ffffff;
 
}



.content-mission {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 50px; 
  color: #ffffff;

}


.right-mission p {
  padding-top: 40px;
  font-size: 25px;
  line-height: 1.6;
  color: #111;
  margin-top: 10px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-left: 60px;
  padding-right: 40px;
  color: #ffffff;
 
    
}




.BOX-vision {
 
  width: 100%;
  max-width: 1080px;
  padding: 100px;
  box-sizing:content-box;
  
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: 3px solid #ffffff;
}

.left-vision h1 {
  padding-top: 60px;
  font-size: 80px;
  font-weight: bold;
  line-height: 1.1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 50px;
  text-align: center;
  color: #ffffff;

}



.content-vision {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;  
  
}


.right-vision p {
 
  padding-top: 40px;
  font-size: 25px;
  line-height: 1.6;
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-left: 60px;
  padding-right: 40px;
  color: #ffffff;

    
}

