* {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

.grid-body {
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;
    background: linear-gradient(rgb(0, 20, 63),rgb(21, 40, 84), rgb(0, 20, 63));
}

.title-center {
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom:30px;
    font-family: sans-serif;
    text-decoration: underline;
    color: white;
}
.image-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(450px,1fr));
  gap:14px;
  max-width:75%;
  margin:auto;
}
.thumb{position:relative;cursor:pointer;}
.thumb img{
  width:100%;
  height:120px;
  object-fit:cover;
  border-radius:10px;
  filter:brightness(0.85);
  transition:.3s;
}
.thumb:hover img{filter:brightness(1);}
.thumb span{
  position:absolute;
  bottom:6px; left:6px;
  padding:4px 8px;
  background:rgba(0,0,0,.6);
  color:#fff;
  font-size:.85rem;
  border-radius:5px;
}

.modal-toggle{display:none;}
.modal{
  display:none;
  position:fixed; inset:0;
  justify-content:center;
  align-items:center;
  z-index:50;
  padding:20px;
}
.modal-toggle:checked + .modal{display:flex;}
.overlay{
  position:absolute; inset:0;
  background:rgba(0,0,0,.6);
  cursor:pointer;
}
.modal-box{
  width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: rgb(1, 0, 87);
    border-radius: 10px;
    position:relative;
    color: white;
}

.close-btn{
  position:absolute;
  top:10px; right:10px;
  width:28px; height:28px;
  background:#fff;
  border-radius:50%;
  cursor:pointer;
  text-align:center;
  line-height:28px;
  font-weight:bold;
  border:2px solid #444;
  color: black;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.radio{
    flex: 1;
    display: flex;
    gap: 12px;
}

.form input {
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.form button {
    padding: 12px;
    background: rgb(5, 3, 143);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.form button:hover {
    background: rgb(48, 45, 195);
}

.gallery{
  display:flex;
  gap:8px;
  justify-content:center;
  margin:10px 0;
}

.gallery img{
  width:250px;
  height:200px;
  object-fit:cover;
  border-radius:8px;
}

.form-price-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.price-box {
    width: 40%;
    background: #e7f6ff;
    padding: 15px;
    border-radius: 10px;
    color: black;
}

.price-box p {
    margin: 8px 0;
    font-size: 16px;
}

.price-box .note {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
