/*
syntax i learned:
    object-fit: contain; //keeps image from stretching
    list-style-type:  //defines the ul type: circle or none or disc
    display: block: //makes the element act like a tag
    overflow: hidden;
*/

* {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}
body {
    width: 1600px;;
}

.grid-home {
    display: grid;
    width: 1600px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(70px, auto);
}
.grid-header {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-auto-rows: minmax(65px, auto);
    align-items: center;
    background-color: rgb(41, 41, 41);
}

#brcc-logo {
    height: 60px;
    width: auto;
    object-fit: contain;
    justify-self: start;
    cursor: pointer;
}


#header {
    display: grid;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
}

#header:hover {
    text-decoration: underline;
}

#BRCC {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
}

.navbar a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 7px;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar a:hover {
    background-color: rgb(183, 183, 183);
}

.navbar li {
    float: left;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, 300px);
    background-color: rgb(0, 20, 63);
    justify-content: center;
    align-items: center;
    color: white;
}

#brcc-logo-footer {
    display: grid;
    height: 100%;
    width: auto;
    align-items: center;
    object-fit: cover;
}

#address, #email, #phone-number {
    color: white;
    text-align: center;
    line-height: 40px;
}
