/*
    syntax i learned: 
    content

    object-fit: contain and cover
    flex-direction: column; items are aligned vertically
    background-image: url('directory');
*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    max-width: 970.4;
}


.grid-body {
    display: grid;
    position: relative;
    grid-auto-rows: minmax(600px, auto);
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    background-image: url('../images/brcc-annex.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(9, 5, 23, 0.7);
    z-index: 0;
}

.body-content {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
    grid-auto-columns: minmax(20px, 20px);
    grid-auto-rows: minmax(60px, auto);
    padding: 50px;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
}

.body-content h2 {
    display: grid;
    color: white;
    letter-spacing: 4px;
    font-size: 60px;
    text-align: center; 
    margin-bottom: 10px;
    font-style: italic;
    align-self: center;
}

.body-content p {
    display: grid;
    justify-self: center;
    width: 700px;
    text-align: center;
    color: white;
}

#announcements-text {
    display: flex;
    position: relative;
    color: white;
    background-color: rgb(0, 20, 63);
    align-items: center;
    padding-left: 20px; 
    padding-top: 20px;
}

#header-text {
    display: inline-block;
    color: rgb(0, 213, 255);
    margin-left: 6px;
}

.announcements {
    display: flex;
    position: relative;
    background-color: line;
    width: 100%;
    justify-content: center;
    background: linear-gradient(rgb(0, 20, 63),rgb(21, 40, 84), rgb(0, 20, 63));
}

.announcements-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
    max-width: 700px;
    max-height: 213.200;
    padding: 70px;
    border: 1px solid rgb(1, 0, 87);
    background: linear-gradient(to top right, rgb(203, 203, 203), rgb(255, 255, 255));
}

#announcements-header {
    margin-left: 15px;
    color: rgb(95, 4, 4);
    font-weight: bold;
}

#announcements-label {
    font-size: 20px;
    margin-top: 8px;
    margin-left: 40px;
}

#date1 {
    color: rgb(95, 95, 95);
    margin-top: 14px;
    margin-left: 70px;
}

#announcement1 {
    margin-left: 90px;
    text-indent: 10px;
}

#announcements-left, #announcements-right {
    display: flex;
    position: absolute;
    background-color: rgba(78, 76, 108, 0.98);
    height: 60px;
    width: 60px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

#announcements-left {left: 350px;}
#announcements-right {right: 350px;}

#announcements-left:hover, #announcements-right:hover {
    cursor: pointer;
    opacity: 0.95;
}

#blue-pattern {
    width: 100%;
    max-height: 80px;
    object-fit: cover;
    margin-bottom: -10px;
}

.slide-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 20, 63);;
}

#slide-title {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-family: sans-serif;
}

.slide-wrapper {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.slides {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /*di ka pwede mag scroll nagiisnap siya sa next image or previous*/
    scroll-behavior: smooth;
    scrollbar-width: none;
    box-shadow: 5px 10px 20px rgb(0, 0, 0);
    border-radius: 15px;
}

.slides img {
    flex: 1 0 100%;
    object-fit: cover;
    scroll-snap-align: start; /*connect sa scroll snaptype para dun sa slideshow effect*/
}

.slide-navbar {
    display: flex;
    position: absolute;
    column-gap: 18px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
}

.slide-navbar a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.9;
    transition: opacity 0.15s;
}

.slide-navbar a:hover {
    opacity: 1;
}

/*
.slide-show {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

#slide-show-header {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    background-color: white;
    color: black;
    margin: -20px;
}

#badminton {
    display: grid;
    width: 900px;
    height: 500px;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    background-color: rebeccapurple;
}
    */